<div class="row">
  <div class="col s10">
    <table class="bordered highlight" >
      <tr>
        <th> Title </th>
        <th> Translation </th>
        <th></th>

      </tr>
      <% @words.each do |word| %>
        <tr>
          <td> <%= word.title %> </td>
          <td> <%= word.translation %> </td>
          <td>
          <%= link_to  edit_word_path(word),  class: "btn-floating btn waves-effect waves-light  blue darken-1" do %>
            <i class="material-icons">mode_edit</i>
          <% end %>
          <%= link_to  word_path(word),  class: "btn-floating btn  waves-effect waves-light red",  method: :delete, "data-confirm": 'Are you sure?' do %>
            <i class="material-icons">delete</i>
          <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= paginate @words %>
  </div>
  <div class="col s2">
    <div class="row">
      <div class="col s12">
        <%= link_to  new_word_path,  class: "btn-floating btn-large waves-effect waves-light red right" do %>
          <i class="material-icons">add</i>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag.name, { :action => :index, :id => tag.name }, :class => css_class %>
        <% end %>
      </div>
    </div>
  </div>
</div>
