<!DOCTYPE html>
<html>
<head>
  <title>Vocabulary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="blue-grey darken-2">
      <div class="nav-wrapper blue-grey darken-2 container">
        <ul class="left hide-on-med-and-down">
          <li>
            <%= link_to words_path, class:"", style:"" do%>
              <i class="material-icons">account_balance</i>
            <% end %>
          </li>
          <li>
            <%= link_to users_discoveries_path, class:"", style:"" do %>
              <i class="material-icons">assignment_ind</i>
            <% end %>
          </li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li>
              <%= link_to('Profile', profile_words_path) %>
            </li>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
            <% end %>
        </ul>
        <ul id="nav-mobile" class="side-nav blue-grey darken-">
          <% if user_signed_in? %>
            <li>
              <%= link_to('Profile', profile_words_path) %>
            </li>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
          <% end %>
        </ul>


        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
  </nav>
<div class="container" style= 'margin-top: 30px;'>
  <div class="row">
     <%= yield %>
  </div>
</div>
</body>
</html>
